
@media (max-width: 600px) {
    .nav-menu{
        position: fixed;
        top: 0;
        right: 0;
        overflow: hidden;
        overflow-x: hidden;
        height: 80vh;
        width: 50vw;
        
    

        .nav-list{
            visibility: hidden;
            transition: visibility 0.9s ease, opacity 0.7s ease, translate .5s ease; 
            opacity: 0;
            position: absolute;
            z-index: 9 !important;
            height: 80vh;
            width: 50vw;
            background-color: rgba($clr-orange, 0.89);
            backdrop-filter: blur(10px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 0 16px;
            display: flex !important;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .show-list{
            visibility: visible;
            opacity: 1;
            

        }
    }
    .menu{
        z-index: 99;
        position: relative;
    }

    //prueba de icono customm 
    .close{
        position: absolute;
        right: -10px;
        visibility: visible !important;
        z-index: 11 !important;

    }
    .open{
        visibility: visible !important;
        div:first-child{
            transform: rotate(45deg);
                width: 35px !important; ; 
        }
        div:last-child{
            transform: rotate(-45deg);
                width:  35px !important;;
        }
        div:nth-child(2){
            opacity: 0;
        }
    }




    .campo-formulario input, textarea {
        width: 100% !important;

    }

    .form-btn{
        width: 50% !important;
        background-color: $clr-blue !important;
    }
    .quien-soy-inner{
        grid-template-columns: 1fr 2fr 1fr !important;
        grid-template-rows:     .5fr .5fr 1fr 1fr!important;
        grid-template-areas: 
            " . foto .          "
            "titulo   titulo titulo"
            " texto texto texto"
            "texto texto texto" !important;
            .btn{
                display: none !important;
            }
    }
}

